@charset "utf-8";
.header {
  background-color: #EDFFBE;
  color: #000;
  height: 90px;
}

.header-list li{
  list-style: none;
  float:left;
  padding:33px 20px;
}

.header-logo a {
  float: left;
  color: white;
  font-size: 36px;
  padding:20px 40px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.headlogin {
  background-color: #239b76;
  font-size: 15px;
}

.footer {
  background-color: #EDFFBE;
  height: 120px;
  padding:5px 40px 40px 40px;
  margin-top:20px ;
}

/* footer-logoのfont-sizeとfloatを指定してください */
.footer-logo{
  font-size:32px;
  float:left;
}

/* footer-listのfloatを指定してください */
.footer-list{
  float:right;
}

/* footer-listの中のli要素のpadding-bottomを指定してください */
.footer-list li{
  padding-bottom:15px;
}
