@charset "utf-8";

.container {
  width: 1170px;
  padding: 0px 15px;
  margin: auto 0px;
}

.top-wrapper {
  padding: 180px 0px 100px 0px;
  background-image: url(../assets/ex1.jpg);
  color: white;
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1.0;
  font-size: 45px;
  letter-spacing: 5px;
}


.top-wrapper p {
  opacity: 1.0;
  font-size: 30px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}


/* signupクラスのCSSを指定してください */
.signup {
  background-color: #239b76;
  font-size: 45px;
}


/* facebookクラスのCSSを指定してください */
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}


/* twitterクラスのCSSを指定してください */
.twitter {
  background-color: #55acee;
}


/* btn-wrapperクラスのCSSを指定してください */
.btn-wrapper {
  margin: 20px 0px;
}


/* btn-wrapperクラスの中にある<p>のCSSを指定してください */
.btn-wrapper p {
  margin: 10px 0px;
}

.btn-wrapper a {
    font-size: 45px;
  }

.fa {
  margin-right: 5px;
}

.head {
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
}

.logo {
  width: 124px;
  margin-top: 20px;
}

