<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
    <link rel="stylesheet" href="assets/editheader.css" type="text/css">
</head>
<body>
    <div class="header">
        <div class="sides">
            <a href="/" class="logo">TOP</a>
        </div>
        <div class="sides"> <a href="#" class="menu">-</a></div>
        <div class="info">
        <h4><a href="#category">EDIT</a></h4>
            <h1>EDIT A STORE DATA</h1>
            <div class="meta">
            This is egg.
            </div>
        </div>
    </div>
    <h1>削除確認</h1>
    <p>本当に削除しますか？</p>
    <ul>
        <li>名前： {{.customer.Customer_name}}</li>
        <li>年齢： {{.customer.Age}}</li>
        <li>性別： {{.custoemr.Gender}}</li>
    </ul>

    <form method="post" action="/delete/{{.customer.Customer_id}}">
        <p><input type="submit" value="削除"></p>
        <p><a href="/">戻る</a></p>
    </form>
    <div class="footer">
      <div class="footer-logo">
        
      </div>

      <div class="footer-list">
        <ul>
          <li><a href="/">トップ</a></li>
          <li><a href="/searchstore">店舗検索</a></li>
          <li><a href="/editstore">店舗情報編集</a></li>
          <li><a href="/ranking">ランキング</a></li>
        </ul>
      </div>

    </div>
    </body>
</html>
