<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/editheader.css" type="text/css">
    <link rel="stylesheet" href="assets/edittable.css" type="text/css">
    <link rel="stylesheet" href="assets/form.css" type="text/css">
</head>
<body>

<!-- <div class="header">
        <div class="header-logo"><a href="/">ex4</a></div>
      <div class="header-list">
        <ul>
          <li><a href="/signup" class="btn headlogin">新規登録</a></li>
          <li><a href="/signin" class="btn headlogin">ログイン</a></li>
        </ul>
      </div>
</div> -->

<div class="header">
  <div class="sides">
    <a href="/" class="logo">TOP</a>
  </div>
  <div class="sides"> <a href="#" class="menu">-</a></div>
  <div class="info">
  <h4><a href="#category">EDIT</a></h4>
    <h1>EDIT A STORE DATA</h1>
    <div class="meta">
      This is egg.
    </div>
  </div>
</div>

<div class="content">
<h1>店を追加する</h1>
        <form method="post" action="/newstore">
            <p>ID<input type="text" name="store_id" size="30" placeholder="入力してください" ></p>
            <p>名前<input type="text" name="store_name" size="30" placeholder="入力してください" ></p>
            <div class="cp_ipradio">
                <span class="item-name">場所</span>
                <label>
                <input type="radio" name="address" value="百万遍">
                <span>百万遍</span>
                </label>

                <label>
                <input type="radio" name="address" value="北白川">
                <span>北白川</span>
                </label>

                <label>
                <input type="radio" name="address" value="一乗寺">
                <span>一乗寺</span>
                </label>

                <label>
                <input type="radio" name="address" value="その他">
                <span>その他</span>
                </label>
            </div>
            <div class="select-wrap">
                <span class="item-name">価格帯</span>
                <select name="price">
                <option value="1000">1000</option>
                <option value="2000">2000</option>
                <option value="3000">3000</option>
                <option value="4000">4000</option>
                <option value="5000">5000~</option>
                </select>
            </div>
            <div class="select-wrap">
                <span class="item-name">評価</span>
                <select name="evaluation">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                </select>
            </div>
            <p><input type="submit" value="追加"></p>
        </form>

    <table border="1">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>場所</th>
        <th>価格帯</th>
        <th></th>
        <th></th>
    </tr>
    {{ range .stores }}
    <tr>
        <td>{{ .Store_id }}</td>
        <td>{{ .Store_name }}</td>
        <td>{{ .Address }}</td>
        <td>{{ .Price }}</td>
        <td><a href="/storedetail/{{.Store_id}}">編集</a></td>
        <td><a href="/deletestore_check/{{.Store_id}}">削除</td>
    </tr>
    {{end}}
    </table>
</div>
<div class="footer">
      <div class="footer-logo">
        
      </div>

      <div class="footer-list">
        <ul>
          <li><a href="/">トップ</a></li>
          <li><a href="/searchstore">店舗検索</a></li>
          <li><a href="/editstore">店舗情報編集</a></li>
          <li><a href="/ranking">ランキング</a></li>
        </ul>
      </div>

</div>

</body>
</html>