<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/top.css" type="text/css">
</head>
<body>
    <div class="top-wrapper">
      <div class="container text_against_picture">
        <h1>FIND A NEW STORE.</h1>
        <p>このサービスでは京大周辺の飲食店を管理することができます。</p>
        <p>さっそく新しい店を見つけてみましょう。</p>
        <div class="btn-wrapper">
          <a href="/searchstore" class="btn signup">店を検索する</a>
          <a href="/editstore" class="btn signup">店舗情報の追加・編集</a>
          <a href="/ranking" class="btn signup">ランキング</a>
        </div>
        <p>アカウントの新規登録・ログインはこちらからできます。</p>
        <div class="btn-wrapper">
          <a href="/signup" class="btn signup">新規登録</a>
          <a href="/signin" class="btn signup">ログイン</a>
        </div>
        <p>今までに登録された店舗数</p>
        <p>{{ .count }}店舗</p>
      </div>
    </div>

</body>
</html>
