<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Sample App</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="assets/otherheader.css" type="text/css" />
    <link rel="stylesheet" href="assets/table.css" type="text/css" />
  </head>
  <body>
    <div class="header">
      <div class="sides">
        <a href="/" class="logo">TOP</a>
      </div>
      <div class="sides"><a href="#" class="menu">-</a></div>
      <div class="info">
        <h4><a href="#category">OTHER</a></h4>
        <h1>OTHER DATA</h1>
        <div class="meta">
          This is fish.
        </div>
      </div>
    </div>
    <div class="content">
      <h1>ランキング</h1>
      <table border="1">
        <tr>
          <th>店名</th>
          <th>評価</th>
        </tr>
        {{ range .forRankings }}
        <tr>
          <td>{{ .Store_name }}</td>
          <td>{{ .Evaluation }}</td>
        </tr>
        {{end}}
      </table>
    </div>
    <div class="footer">
      <!-- <div>要素を追加し、「footer-logo」というclassをつけてください -->
      <div class="footer-logo"></div>

      <!-- <div>要素を追加し、「footer-list」というclassをつけてください -->
      <div class="footer-list">
        <ul>
          <li><a href="/">トップ</a></li>
          <li><a href="/searchstore">店舗検索</a></li>
          <li><a href="/editstore">店舗情報編集</a></li>
          <li><a href="/ranking">ランキング</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
